* {/*redest do css*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /*background-image: URL('../img-site/gif\ home.gif');*/
    background: rgb(26, 129, 247);
    background-size: 100vh;
    /*background-repeat: no-repeat;*/
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
  }
  /*se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }

  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;/*ou space-between*/
  }

  .menu li{
    list-style: none;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    color: white;
    transition: background-color 0.5s, color 0.6s;
  }

  .menu a:hover {
    background-color: white;
    color: black;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    transform: scale(0.2) translate(50vh);
    opacity: 0;

    animation: linear 2s animetitulo forwards;
  }

  @keyframes animetitulo {
    0% {
      transform: scale(0.2) translate(50vh);
      opacity: 0
    }
    100% {
      transform: scale(1) translate(0);
      opacity: 1;
    }
  }
  
  .site-subtitle, 
  .site-title {
    color: white;
    text-align: center;
  }

  .site-title {
    font-size: 4em;
    font-family: 'Audiowide', cursive;
  }
  
  .site-subtitle {
    font-style: italic;
    line-height: 1.8em;
    
  }
  .contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
  }
  .conta h2,
  .portfolio h2 {
    font-family: 'Sacramento', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px);
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.2) rotate(2deg);
  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: white;
    font-size: 3em;
    transition: text-shadow 0.3s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.349);
    padding-left: 2px;
  }